.projectImage {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-right: auto;

    img {
        border-radius: 10px;
        margin-top: 40px;
    }
}

.name {
    display: block;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400;
}

.categoriesItem {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;

    .categoriesIcon,
    .locationIcon {
        font-size: 20px;
        margin-left: 10px;
    }

    .content {
        margin-left: 10px;
    }
}

.progressContainer {
    width: 40%;
    height: 20%;
    padding: 10px;
    margin-top: 40px;
}

.fundingText {
    p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
    }

    .current {
        color: var(--chakra-colors-brand-primary);
        font-weight: 900;
    }
}

.backersAmount p,
.daysAmount p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
