.projectContainer {
    font-family: 'Inter';
}

.projectImage {
    width: 600px;
    display: block;
    margin-left: 20px;
    margin-right: auto;

    img {
        border-radius: 10px;
        margin-top: 20px;
    }
}

.name {
    display: block;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400;
}

.fund {
    position: absolute;

}
