.container {
  width: min(800px, 60%);
  margin-left: auto;
  margin-right: auto;
}

.switcher {
  padding-top: 15px;
}

.form {
  margin-top: 30px;
}

.buttons {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
}


@media only screen and (max-width: 700px) {
  .container {
    width: 95%;
  }

  .buttons {
    margin-left: 10px;
    margin-right: 10px;
  }
}
