.container {
  width: 1510px;
  margin: auto;
  padding-top: 5%;

  h1 {
    font-size: 3em;
  }
}
.slider {
  align-items: center;
}
.card{
  display: inline-block;
}
.arrows{
  float: right;
  font-size: 2.5em;
  padding-right: 50px;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
