.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;

  h1 {
    font-size: 2em;
  }
  .createProject:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    h1 {
      text-align: center;
    }
  }
}
