.projectImage {
  border-radius: 10px;
  margin-top: 40px;
  display: block;
  contain: content;

  img {
    min-width: 100%;
    min-height: 100%;
  }
}

.name {
  display: block;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 400;
  word-break: break-all;

  h2 {
    text-align: center;
  }

  .inactiveBanner {
    margin: 20px;
  }
}

.categoriesItem {
  display: flex;
  align-items: center;
  font-weight: 500;

  .categoriesIcon,
  .locationIcon {
    font-size: 20px;
    flex-shrink: 0;
  }

  .content,
  .locationIcon {
    margin-left: 10px;
  }
}

.backersAmount p,
.daysAmount p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.progressContainer {
  margin-top: 45px;

  .progressBar {
    width: 300px;
  }

  .fundingText {
    p {
      width: 100%;
      margin-top: 20px;
      font-size: 18px;
      font-weight: 500;
    }

    .current {
      color: var(--chakra-colors-brand-primary);
      font-weight: 900;
    }
  }
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.leftNav {
  margin-top: 3px;

  .left {
    font-weight: 500;
    font-size: 16px;
    display: grid;
    gap: 20px;

    a:hover {
      cursor: pointer;
      color: var(--chakra-colors-brand-primary);
    }
  }
}

.rightNav {
  flex: 1;

  .right {
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 20px;

    .rightHeading {
      margin-bottom: 20px;
    }

    span {
      font-size: 15px;
      text-align: justify;
      display: block;
      white-space: pre-wrap;
    }
  }
}

.rewardButton {
  .tier {
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px;
  }
}

.campaignWrapper {
  display: flex;
  flex-direction: column;
}

.productWrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 840px) {
  .projectContainer {
    text-align: center;
  }

  .projectImage {
    width: 355px;
    max-height: 340px;
  }

  .categoriesItem {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 42px;
    justify-content: center;
  }

  .gridLeft {
    max-width: 368px;
    margin: 0 auto;
  }

  .progressContainer {
    display: block;

    .progressBar {
      margin: auto;
    }
  }

  .buttons {
    display: grid;
    row-gap: 20px;
    justify-content: center;
    padding: 30px;
  }

  .campaignWrapper {
    padding: 20px;

    .left {
      margin-bottom: 50px;
    }

    .right {
      margin-top: 30px;
    }
  }
}

.modalp {
  white-space: pre-wrap;
}

@media only screen and (min-width: 841px) {
  .productWrapper {
    align-items: center;

    .categoriesItem {
      margin-top: 10px;
      margin-right: 10%;
      max-width: 430px;
    }

    .projectImage {
      width: 410px;
      max-height: 355px;
    }

    .progressContainer {
      margin-left: 20px;
      text-align: center;
    }
  }

  .projectContainer {
    padding: 0 40px;

    .buttons {
      justify-content: space-between;
      gap: 35px;
    }

    .leftNav {
      text-align: center;
      margin-top: 30px;

      .left {
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .projectContainer {
    padding: 0 100px;
  }

  .campaignWrapper {
    flex-direction: row;
    gap: 100px;
    margin-top: 40px;

    .leftNav {
      text-align: left;
      margin-top: 0;

      .left {
        margin-top: 0;
      }
    }
  }

  .productWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .progressContainer {
      text-align: start;
    }
  }
}

@media only screen and (min-width: 1140px) {
  .campaignWrapper {
    gap: 120px;
  }

  .projectContainer {
    width: 1107px;
    margin: 0 auto;
  }
}
