.spinnerContainer,
.error,
.noProfile {
  margin-top: 200px;
  text-align: center;
}


.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  overflow: hidden;
}

.profileName 
{
  padding-top: 20px;
  text-align: center;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profileName:hover{
  overflow: visible;
}

.profileImage {
  padding-top: 25px;
}

.profileBio {
  h2 {
    font-weight: bold;
    font-size: x-large;
    padding-top: 15px;
  }
  p {
    text-align: justify;
    padding-top: 5px;
    padding: 10px;
  }
}
