.card {
  display: inline-block;
}
.arrows {
  display: flex;
  float: right;
  font-size: 2.5em;
  margin-right: 5%;
  gap: 15px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
}
