.navcontainer {
    width: 100%;
    color: #414141;
    border-bottom: 1px solid grey;
}

.left {
    font-size: 16px;
    font-weight: 600;
    padding: 2vh;
    font-family: "Inter", sans-serif;
}

.center {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 50px;
    position: relative;
    left: 2%;
}

.right {
    padding: 2vh;
    font-weight: 600;
}