.navcontainer {
    width: 100%;
    color: #414141;
    border-bottom: 1px solid grey;
    font-family: "Inter", sans-serif;
}

.side {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;

    &:hover {
        color: var(--chakra-colors-brand-primary);
    }
}

.center {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: min(25px, 3vw);
    margin-right: calc(min(25px, 3vw) * -1);
}

// After Login

.inbox {
    margin: 10px;
    cursor: pointer;

    &:hover {
        color: var(--chakra-colors-brand-primary);
    }
}

.profile {
    margin: 10px;
    cursor: pointer;
}

.menuList {
    color: black !important;
    margin-top: -5px;
    padding: 35px;
    border: 2px solid rgb(175, 175, 175) !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.sessionName {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin: 13px;
}

.sessionImage {
    margin-top: 10px;
    border: 2px solid grey !important;
}

.viewProfile {
    display: block;
    margin-left: 65px;
    position: relative;
    bottom: 20px;

    &:hover {
        color: var(--chakra-colors-brand-primary);
        cursor: pointer;
    }
}

.divider {
    border-top: 1px solid rgb(216, 216, 216);
    position: relative;
    bottom: 10px;
}

.settings {
    font-size: 18px;
    font-weight: 500;
    margin-top: 4px;
    margin-left: 20px;

    &:hover {
        color: var(--chakra-colors-brand-primary);
        background-color: white !important;
        cursor: pointer;
    }
}

.project {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 20px;

    &:hover {
        color: var(--chakra-colors-brand-primary);
        background-color: white !important;
        cursor: pointer;
    }
}

.signout {
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 5px;

    &:hover {
        color: var(--chakra-colors-brand-primary);
        background-color: white !important;
        cursor: pointer;
    }
}

.icon {
    font-size: 30px;
    padding: 3px;
    border-radius: 25px;
    background-color: rgb(216, 216, 216);
}

.allDropdown {
    display: flex;
    margin-top: 20px;
}

@media only screen and (max-width: 478px) {
    .center {
        letter-spacing: min(22px, 0vw);
        margin-right: calc(min(22px, 0vw) * -1);
    }
}
