.locationBox {
  margin: 5px;
  text-align: center;

  span {
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    background-color: var(--chakra-colors-brand-primary);
    color: white;
    padding: 2px 12px;
    border-radius: 10px;
  }
}
