.containertitle {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

.accounttitle{
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

.accountfields{
    padding: 20px 0px 5px 0px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.accountsubfields{
    padding-bottom: 10px;
    font-size: 18px;
    text-align: left;
    font-weight: lighter;
}

.accountdivider{
    border-top: 4px solid rgb(236, 233, 233);
    border-radius: 5px;
}

.formlabel{
    width: 200px;
}

.forminput{
    width: 60%;
}

.formbutton{
    color: black;
    background: white;
}

.formbox{
    padding: 10px;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.switch{
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}

.accountbox{
    padding: 15px 0px 15px 0px;
}

.savebox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadbutton{
    padding: 20px;
}

.notificationdivider{
    padding-top: 20px;
}

.profilebox{
    padding-bottom: 15px;
}