.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  .heading {
    font-size: 2em;
  }

  .link {
    color: var(--chakra-colors-brand-primary);
  }

  .link:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;

    .heading,
    .noProj {
      text-align: center;
    }
  }
}
